:root {
  --color-white: #fff;
  --color-slate-900: #0f172a;
  --color-slate-800: #1e293b;
  --color-slate-700: #334155;
  --color-slate-500: #64748b;
  --color-primary: #754ffe;
  --color-primary-light: #baa7fe;
  --color-slate-300: #cbd5e1;
  --color-amber-500: rgb(245, 158, 11);
}

.banner h1 {
  color: var(--color-white);

  font-size: 40px;
  font-weight: 500 !important;
  letter-spacing: -0.8px;
  line-height: 48px;
  margin: 0px 0px 8px;
}

/* improve css */
/* nav css */

/* banner css */
.left_banner {
  align-items: center;
  color: var(--color-slate-500);
  display: flex;
  flex-wrap: wrap;
  font-size: 14px !important;
  line-height: 22.4px !important;
}

.banner h1 {
  font-weight: 700 !important;
  letter-spacing: -0.8px;

  font-family: Inter, sans-serif !important;
  font-size: 40px !important;
  line-height: 48px !important;
}

.banner p {
  font-size: 20px !important;
  line-height: 32px !important;
  font-family: Inter, sans-serif !important;

  font-weight: 500 !important;
}

/* .banner_button {
    background-color: var(--color-slate-900);
    border-color: var(--color-slate-900);
    border-radius: 6px !important;
    border-style: solid !important;
    border-width: 1px !important;
    color: var(--color-white);
    display: inline-block !important;
    font-family: Inter !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 22.4px !important;
    padding: 8px 16px !important;
    text-align: center !important;
} */

.banner_buttom span {
  height: 48px !important;
  width: 48px !important;
  line-height: 16px !important;
}
/*  updated*/

.banner .btn {
  padding: 8px 16px;
  border-radius: 6px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  box-shadow: none !important;
}
.banner .btn-dark {
  background-color: var(--color-slate-900);
  border-color: var(--color-slate-900);
  color: var(--color-white);
}
.banner .btn-light {
  background-color: var(--color-white);
  border-color: var(--color-slate-300);
  color: var(--color-slate-700);
}

/* banner buttom */

.banner_buttom h4 {
  color: var(--color-slate-800);
  font-family: Inter !important;
  font-weight: 600 !important;
  line-height: 24px !important;
  font-size: 16px !important;
}
.banner_buttom p {
  color: var(--color-slate-500);
  font-family: Inter !important;
  font-size: 14px !important;
  line-height: 22.4px;
}

/* Default (mobile) */
.banner_content {
  padding-top: 56px; /* pt-8 */
  padding-bottom: 119px; /* pb-12 */
}
/* Large screens (≥992px) */
@media (min-width: 992px) {
  .banner_content {
    padding-top: 56px; /* pt-lg-8 */
    padding-bottom: 119px; /* pb-lg-16 (as per your DevTools) */
  }
}
.content_banner_footer {
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
  box-sizing: border-box;
}
.rating {
  line-height: 22.4px !important;
  font-size: 16px !important;
  font-weight: 400 !important;

  color: var(--color-amber-500) !important;
}
/* banner css */
.banner {
  background-color: var(--color-primary) !important;
}

.banner p {
  color: var(--color-primary-light);
  margin-bottom: 1.5rem !important;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: -0.03rem;
}

.banner h1 {
  color: var(--color-white);
  font-weight: 700 !important;
  font-size: 2.5rem;
  letter-spacing: -0.05rem;
  /* Smooth text in modern browsers */
}
